<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h1>Olá, {{nome}}</h1>
 <h2>R$ {{rendaM}}</h2>
 <h2>R$ {{rendaS}}</h2>
 <h2>R$ {{rendaD}}</h2>

<button routerLink="../cadastroprod" style="padding: 1rem;">Voltar</button>

<div class="grafico" [style]="grafico"></div>

  <div>
    <ul>
      <li *ngFor="let produto of listaProdutos">
        <div>
          <h2>{{produto[0].nome}}</h2>
          <h3>R$ {{produto[0].precoProduto}}</h3>
        </div>
        <button (click)="vender(produto)" style="padding: 1rem;">Vender</button>
      </li>
    </ul>
  </div>

</ion-content>
